<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Agents" type="WorldSim.AgentsConfigSectionHandler, WorldSim, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="Watchers" type="WorldSim.WatchersConfigSectionHandler, WorldSim, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="Deployers" type="WorldSim.DeployersConfigSectionHandler, WorldSim, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <Agents>
    <Agent name="Station" type="Sensors.Station" assembly="Sensors.dll"/>
    <Agent name="MobileAgent" type="Sensors.MobileAgent" assembly="Sensors.dll"/>
    <Agent name="LocallyOptimal" type="MobileSensorAgents.IntentionalInhabitant" assembly="MobileSensorAgents.dll"/>
    <Agent name="LocOptModal" type="MobileSensorAgents.ModalInhabitant" assembly="MobileSensorAgents.dll"/>
    <Agent name="Random" type="WorldSim.Interface.RandomInhabitant" assembly="WorldSim.Interface.dll"/>
    <Agent name="Dumb" type="WorldSim.Interface.Inhabitant" assembly="WorldSim.Interface.dll"/>
    <Agent name="Tour" type="TourAgent.TourInhabitant" assembly="TourAgent.dll"/>
    <Agent name="Disabled" type="DisabledMobility.DisabledMobilitySensor" assembly="DisabledMobility.dll"/>
  </Agents>
  <Watchers>
    <Watcher name="MessageWatcher" type="Sensors.MessageWatcher" assembly="Sensors.dll"/>
    <Watcher name="MobileSensorWatcher" type="MobileSensorAgents.MobileSensorWatcher" assembly="MobileSensorAgents.dll"/>
    <Watcher name="TestWatcher" type="WorldSim.Interface.TestWatcher" assembly="WorldSim.Interface.dll"/>
  </Watchers>
  <Deployers>
    <Deployer name="Random" type="WorldSim.Interface.RandomDeployer" assembly="WorldSim.Interface.dll"/>
    <Deployer name="Gaussian" type="WorldSim.Interface.GaussianDeployer" assembly="WorldSim.Interface.dll"/>
    <Deployer name="Database" type="Sensors.HierarchicalDeployer" assembly="Sensors.dll"/>
    <Deployer name="Forwarding" type="Sensors.ForwardingDeployer" assembly="Sensors.dll"/>
    <Deployer name="Partition" type="Sensors.PartitionDeployer" assembly="Sensors.dll"/>
    <Deployer name="Pointer" type="Sensors.PointerDeployer" assembly="Sensors.dll"/>
    <Deployer name="Disabled" type="DisabledMobility.DisabledMobilityDeployer" assembly="DisabledMobility.dll" />
  </Deployers>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
